
src/next

extensions/libsql
extensions/simple-kv
extensions/sqlite3
extensions/term


# backend
backend-*


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

build

terminals
components
service-workers

node_modules
dist
dist-ssr
*.local

*.so
*.dylib
*.dll
*.o


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
